# Python virtual environments and caches
venv/
__pycache__/

# Python compiled files and eggs
*.py[cod]
*.so
.Python
*.egg-info/

# Environment files
.env
.env.local

# Django
db.sqlite3
*.pot
*.mo

# IDE-specific directories
.idea/
.vscode/

# Documentation and logs
*.log
*.docx
*.pptx
*.html